<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>

<body>
    <h1>Welcome!</h1>
    <p>
        <form action='/process' method='post'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class=flashes>
                        {% for category, message in messages %}
                            <h2 class="{{ category }}">{{message}}</h2>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            <ul style = "list-style: none;">
                <li>Email: <input type='text' name="email"></li>
                <li>Birthday: <input type='date' name="birthday"></li>
                <li>First Name: <input type = 'text' name = "first_name"></li>
                <li>Last Name: <input type = 'text' name = "last_name">
                <li>Password: <input type = 'text' name = "password">
                <li>Confirm Password: <input type = 'text' name = "confirm_password">
                <li><input type = 'submit' value = 'submit form'></li>
            </ul>
        </form>
    </p>
</body>

</html>